html{
    scroll-behavior: smooth;
}
body{
    background-color: beige;
}

.text{
    margin-top: 20px;
}

.content{
    margin-top: -10px;
    font-size: large;
}

.welcome{
    font-size: larger;
}

#price{
    text-align: center;
    
}
a{
    text-decoration: none;
    color: darkblue;
    text-indent: 20px;
}